body 
{
 	padding-top: 60px;
}

.myLoader
{
	width: 10%;
	height: auto;	
}

.customBar
{
	display: none;
	margin-top: 15px;
	margin-bottom: 15px;
	width:300px;
}

.mySmallButtons
{
	margin-bottom: 10px;
}

table th.rightBorder
{
	border-right: 1px solid #DDDDDD;
}

footer small
{
    margin-top: 70px;
    width: 320px;;
    margin: auto;
    color: #999999;
    font-style: italic;
    text-align: center;
}